@import "tailwindcss";

/* Custom theme variables */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary: #2563eb; /* Tailwind blue-600 */
  --color-accent: #9333ea; /* Tailwind purple-600 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --color-primary: #3b82f6; /* lighter blue */
    --color-accent: #c084fc; /* lighter purple */
  }
}

